[user]
    name = Jeff Zignego
    email = jlzignego@gmail.com

[color]
    diff = auto
    status = auto
    branch = auto
    pager = true

[init]
    defaultBranch = master

[core]
    editor = nvim
    excludesfile = ~/.gitignore_global

[pager]
    log = diff-highlight | less
    show = diff-highlight | less
    diff = diff-highlight | less

[diff]
    tool = nvim
    submodule = log
    renames = copy
    renameLimit = 10000

[difftool]
    prompt = false
    trustExitCode = true

[difftool "nvim"]
    cmd = nvim -d

[color "diff"]
    whitespace = red reverse

[merge]
    tool = nvim
    conflictstyle = diff3

[mergetool]
    prompt = false
    trustExitCode = true

[mergetool "nvim"]
    cmd = nvim -d

[commit]
    verbose = true

[push]
    # `git push origin` to push current branch
    default = simple
    # make `git push` fail if committed submodule changes aren't pushed
    recurseSubmodules = check

[pull]
    rebase = false

[rebase]
    autosquash = true

[status]
    submodulesummary = 1

[submodule]
    recurse = true

[rerere]
    enabled = 1

[alias]
    last = log -1 --stat
    cp = cherry-pick
    co = checkout
    cl = clone
    ci = commit
    st = status
    br = branch
    unstage = reset HEAD --
    dc = diff --cached
    df = diff
    dt = difftool
    brdel = branch -D
    pap = pull --all --prune
    sub = submodule
    sdiff = !git diff && git submodule foreach 'git diff'
    supdate = submodule update --remote --merge

    # show all of my configured aliases
    aliases = config --get-regexp '^alias\\.'

    # pretty log format views
    lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
    hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short

    # return the root directory of this repo
    toplevel = rev-parse --show-toplevel

[credential]
    helper = cache --timeout=14400

[sendemail]
    from = jlzignego@gmail.com
    smtpserver = smtp.gmail.com
    smtpuser = jlzignego@gmail.com
    smtpencryption = tls
    chainreplyto = false
    smtpserverport = 587
