[user]
    name = Jeff Zignego
    email = jlzignego@gmail.com

[color]
    diff = auto
    status = auto
    branch = auto
    pager = true

[core]
    editor = nvim

    excludesfile = ~/.gitignore_global

[diff]
    tool = vimdiff

[difftool]
    prompt = false
    trustExitCode = true

[difftool "vimdiff"]
    path = nvim

[merge]
    tool = vimdiff
    conflictstyle = diff3

[mergetool]
    prompt = false
    trustExitCode = true

[mergetool "vimdiff"]
    path = nvim

[push]
    # `git push origin` to push current branch
    default = simple

[alias]
    last = log -1 --stat
    cp = cherry-pick
    co = checkout
    cl = clone
    ci = commit
    st = status
    br = branch
    unstage = reset HEAD --
    dc = diff --cached
    df = diff
    dt = difftool
    brdel = branch -D

    # show all of my configured aliases
    aliases = !git config --list | grep 'alias\\.' | sed '/s/alias\\.\\([^=]*\\)=\\(.*\\)/\\1\\ \t => \\2/' | sort

    # pretty log format views
    lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
    hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short

	# run the correct command if user types 'git git status'
	git = !exec git

[credential]
    helper = cache --timeout=14400
